*{
    font-family: 'Times New Roman', Times, serif ;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
}
.container{
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #e8e8e8;
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
}
.navbar .container{
    min-height: auto;
}
.navbar-brand{
    font-weight: 500;
    font-size: 24px;
    color: #009970;
    transition: 0.3s color;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus , .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover , .nav-link.active{
    color: #000;
}
@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        visibility: visible;
        width: 100%;
    }
}
.hero-section{
    background: url('../img/hero-bg.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}
.hero-section h1{
    font-size: 1.5rem;
}
.hero-section p{
    font-size: 1rem;
}

/*
    about section
*/
.about-section img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 10px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.about-section .about-text{
    border: 1px solid rgba(200, 200, 200, 0.2);
    border-radius: 10px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    height: 100%;
}

/*
    Skill section
*/

.skill-box h5 {
    font-weight: 600;
    margin-bottom: 8px;
}

.skill-box p {
    font-size: 0.9rem;
    color: #777;
}
.skill-box {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: transform .3s ease, box-shadow .3s ease;
    text-align: center;
    height: 100%;
    width: 100%;
}

.skill-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,.15);
}

/*
project
*/
.carousel{
    width: 75%;
    margin: 0 auto;
}
@media (min-width: 991px) {
    .carousel-caption h3{
        color: white;
        font-size: 1.5rem;
    }
    .carousel-caption p{
        color: white;
        font-size: 1rem;
    }
}
@media (max-width: 991px) {
    .carousel-caption h3 {
        color: white;
        font-size: 1rem;
    }
    .carousel-caption p {
        color: white;
        font-size: 0rem;
    }
}



